{% extends "../budget_base.html" %}
{% load static i18n %}
{% block main %}
          <h1>Dashboard </h1>

            {{ latest_pay_configuration.get_frequency_display }}<br>
            {{ latest_pay_configuration.take_home_pay }}<br>
            {{ latest_pay_configuration.date_active_from }}<br>
            Pay cycles this month: {{ pay_cycles_this_month }}<br>
            Previous Pay: {{ previous_pay }}<br>
            Next Pay: {{ next_pay }}<br>
            Rolling pays: 
            <ul>
                {% for pay in rolling_pays %}
                    <li>{{ pay }}</li>
                {% endfor %}
            </ul>
{% endblock main %}

{% block custom_javascript %}

    
{% endblock custom_javascript %}
